@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Protest+Revolution&display=swap');

@import url('https://www.fontspace.com/story-book-font-f20648');


/* Other styles */


:root {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;
  
  --color-golden: #DCCA87;
  --color-black: #0C0C0C;
  --color-gray: #545454;
  --color-crimson: #F5EFDB;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;
}

/* Set the global background and text */
html, body {
  background-color:#000;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  z-index:-1 ;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

@keyframes moveLeft {
  from { transform: translateX(0); }
  to { transform: translateX(-5px); }
}


@font-face {
  font-family: "DrukWideMediumRegular";
  src: url("/fonts/DrukWideMediumRegular/normal.ttf") format("truetype");
}

@font-face{
  font-family: "HelveticaNeue-Roman";
  src: url("136d9d929397f0027273643b6c4a506c.eot");
  src: url("136d9d929397f0027273643b6c4a506c.eot?#iefix")format("embedded-opentype"),
      url("136d9d929397f0027273643b6c4a506c.woff")format("woff"),
      url("136d9d929397f0027273643b6c4a506c.woff2")format("woff2"),
      url("136d9d929397f0027273643b6c4a506c.ttf")format("truetype"),
      url("136d9d929397f0027273643b6c4a506c.svg#HelveticaNeue-Roman")format("svg");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}

@font-face {
  font-family: 'StoryBook';
  src: url('../../assets/fonts/StoryBook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DrukWideMediumRegular";
  src: url("/fonts/DrukWideMediumRegular/normal.ttf") format("truetype");
}

